.navbar{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: #49557e;
}

.navbar-menu li{
    cursor: pointer;
    text-transform: capitalize;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    padding: 10px 30px;
    background: transparent;
    border: 1px solid tomato;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar .cart{
    position: relative;
}

.navbar .dot{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    top: -8px;
    right: -8px;
    background: tomato;

}